<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>User Management System I</title>
	<style>
		td {
			border: 1px solid #8e8e8e;
			padding: 2px;
		}
		th {
			background-color: #8e8e8e;
			padding: 2px;
		}
		#nav {
			margin: 4px auto;
			width: 50%;
		}
	</style>
</head>
<body>
<% if flash[:notice] then %>
<div id='alert'>
	<%=flash[:notice] %>
</div>
<% end %>
<div class='container'>
	<h3>Listing Users</h3>
	<table>
		<tr>
			<th class='column'>First Name</th>
			<th class='column'>Last Name</th>
			<th class='column'>Email</th>
			<th class='column'>Action<div style='width: 200px;'></div></th>
		</tr>
	<% @users.each do |user| %>
		<tr>
			<td class='column'><%=user.first_name%></td>
			<td class='column'><%=user.last_name%></td>
			<td class='column'><%=user.email%></td>
			<form action= method='post'>
			<td>
				<a href='/users/<%=user.id%>'>Show</a> |
				<a href='/users/<%=user.id%>/edit'>Edit</a> |
				<a href='/users/<%=user.id%>' data-method='delete'>Destroy</a>
			</td>
			</form>
		</tr>
	<% end %>
	</table>
</div>
<p>
<div id='nav'><a href='/users/new'>Add a New User</a></div>

</body>
</html>